.content{
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
}

.title_content{
    display: flex;
    align-items: center;
}

.link_home{
    background-color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px #8d8d8d;
}

.home{
    text-decoration: none;
    font-weight: bold;
    color:inherit;
}

.shop_name{
    font-size: x-large;
    margin-left: 15px;
    font-weight: bold;
}

.shop_content{
    width: 40vw;
}

.title{
    display: flex;
}

.shop_tag{
    margin: 15px 0 15px auto;
}

.reserve_content{
    background-color: #305dff;
    color: #fff;
    width: 40vw;
    border-radius: 5px;
    position: relative;
}

.reserve_title{
    font-size: x-large;
    margin: 10px 20px;
    font-weight: bold;
}

.select_day,.select_time,.select_number{
    margin: 10px 20px;
    width: 100%;
    height: 30px;
}

.select_day input{
    border: none;
    width: 30%;
    height: 100%;
}

.select_time input{
    appearance: none;
    border: none;
    width: 80%;
    height: 100%;
}

.select_number input{
    border: none;
    width: 80%;
    height: 100%;
}

.button-confirm{
    display: block;
    margin: 5px auto;
    background-color: #0037fe;
    width: 50%;
    height: 10%;
    border: none;
    color: #fff;
    border-radius: 10px;
}

.reserve_confirm{
    margin: 20px 20px 50px 20px;
    border-radius: 5px;
    background-color: #7391fa;
    padding: 15px;
}

.img{
    width: 100%;
}

.button{
    background-color: #0037fe;
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.button_reserve{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: large;
    background-color: #0037fe;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}

.message-login{
    color:#0037fe;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
}

@media (max-width: 768px) {
    .content{
        flex-direction: column;
    }

    .shop_content{
    width: 100vw;
    }

    .reserve_content{
    width: 100vw;
}


}